@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';

.header {
  &__top {
    background-color: $dark-800;
    font-family: $font-opensans;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    padding: 16px 0;

    @include mobile {
      padding: 3px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    position: relative;
  }

  &__list {
    display: flex;

    @include small-tablet {
      display: none;
    }
  }

  &__link {
    position: relative;
    transition: opacity 0.3s;
    text-transform: uppercase;

    &--delivery::before,
    &--phone::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &--delivery {
      padding-left: 44px;
      margin-right: 48px;

      &::before {
        background-image: url('../images/icons/deliver.svg');
        width: 32px;
        height: 22px;
      }

      @include small-tablet {
        margin-right: 31px;
      }

      @include mobile {
        margin-left: auto;
      }
    }

    &--phone {
      padding-left: 34px;
      margin-right: auto;

      &::before {
        background-image: url('../images/icons/tel.svg');
        width: 22px;
        height: 22px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__logo {
    margin-right: 24px;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__bottom {
    background-color: #63A60F;
    padding: 25px 0;
  }

  &__control {
    display: flex;
  }

  &__elem:not(:last-child) {
    margin-right: 12px;

    @include tablet {
      margin-right: 6px;
    }
  }

  &__elem:nth-child(-n+2) {
    @include tablet {
      display: none;
    }
  }

  &__elem:nth-child(3) {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--profile::before {
      background-image: url('../images/icons/personal-account.svg');
      width: 25px;
      height: 32px;
      transform: translate(50%, 25%);
    }

    &--favorit::before {
      background-image: url('../images/icons/favorite.svg');
      width: 32px;
      height: 29px;
      transform: translate(27%, 37%);
    }

    &--search::before {
      background-image: url('../images/icons/search-mobile.svg');
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--cart::before {
      background-image: url('../images/icons/cart.svg');
      width: 33px;
      height: 32px;
      transform: translate(25%, 30%);
    }
  }

  &__btn-num {
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    color: $red-900;
    font-size: 10px;
    line-height: 100%;
    position: absolute;
    text-align: center;
    margin: auto 0;
    top: 3px;
    left: 3px;
    padding-top: 5px;
    opacity: 0;

    &--visible {
      opacity: 1;
    }
  }
}

.menu-mobile {
  position: absolute;
  transform: translateX(-300%);
  background-color: $white;
  font-weight: 400;

  &--active {
    transform: translateX(0);
    left: -15px;
    top: -3px;
    z-index: 999;
    max-width: 300px;
  }

  &__item {
    color: $dark-800;
    font-weight: 600;
    font-size: 18px;
  }

  &__item:first-child {
    padding: 26px 85px 26px 15px;
  }

  &__buttons {
    background-color: $green-900;
    display: flex;
  }

  &__btn {
    color: $white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 1;
    padding-left: 10px;

    &--login {
      position: relative;
      padding-left: 62px;
      padding-right: 10px;
    }

    &--login::before {
      background-image: url('../images/icons/personal-account.svg');
      position: absolute;
      content: '';
      left: 15px;
      width: 25px;
      height: 32px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--login::after {
      position: absolute;
      content: '|';
      right: -4px;
    }
  }

  &__catalog {
    position: relative;
    display: block;
    max-width: 300px;
    text-align: center;
    width: 100%;
    background-color: $white;
    transition: background-color 0.3s, transform 0.3s;
    padding: 15px 70px 15px 56px;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/nav-mobile.svg');
      width: 25px;
      height: 17px;
      left: 16px;
    }
  }
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  height: 100vh;
  left: -15px;
  top: -3px;
  right: -15px;
  z-index: 1;

  &--active{
    display: block;
  }
}

.menu {
  display: none;
  height: 44px;
  width: 44px;
  position: relative;
  margin-right: auto;
  transition: background-color 0.3s;
  z-index: 2;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &:active {
    background-color: rgba(255, 255, 255, .1);
  }

  &__span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: $white;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.hidden {
  @include small-tablet {
    display: none;
  }
}

.catalog-product {
  position: relative;
  max-width: 240px;
  color: $green-900;
  text-align: center;
  max-height: 50px;
  width: 100%;
  background-color: $white;
  border-radius: 6px;
  margin-right: 30px;
  transition: background-color 0.3s, transform 0.3s;

  @include small-desctop {
    max-width: 210px;
  }

  @include mobile {
    display: none;
  }

  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $green-200;
  }

  &:hover .catalog-product__text::after {
    transform: rotate(180deg);
  }

  &:hover .catalog-product__list {
    transform: scaleY(1);
  }


  &__list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: 0 0;
    z-index: 999;
    max-width: inherit;
    width: 100%;
    transition: 0.3s ease-in-out;
    color: #000000;
    text-align: left;
    background-color: $white;
  }

  &__item {
    border-left: 3px solid transparent;
    transition: color 0.3s;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    }

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
    }
  }

  &__link {
    display: block;
    padding: 15px 5px 15px 21px;
  }

  &__text {
    display: inline-block;
    padding: 15px 20px 15px 43px;
    position: relative;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      background-image: url('../images/icons/arrow-green.svg');
      width: 7px;
      height: 4px;
      right: 0;
    }

    &::before {
      background-image: url('../images/icons/nav.svg');
      width: 25px;
      height: 17px;
      left: 0;
    }
  }
}

.logo__img {
  max-width: 200px;
}

.logo__hidden {
  display: none;

  @include small-tablet {
    display: block;
  }
}

.form {
  display: flex;
  max-width: 577px;
  width: 100%;
  position: relative;
  margin-right: 45px;

  @include small-desctop {
    margin-right: 10px;
  }

  @include tablet {
    position: absolute;
    z-index: 998;
    max-width: inherit;
    width: inherit;
    left: -15px;
    right: -25px;
    transform: translateY(-300%);
    transition: transform 0.3s;
    border: 1px solid $dark-800;
  }

  &__input {
    max-width: 420px;
    width: 100%;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 15px;
    padding-left: 51px;
    color: $dark-800;
    flex-shrink: 0.3;

    @include tablet {
      border-radius: 0;
      max-width: inherit;
    }
  }

  &__btn {
    background-color: $dark-800;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: $white;
    padding: 15px 54px;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;

    @include small-desctop {
      padding: 15px 40px;
    }

    @include tablet {
      border-radius: 0;
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 20px;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
  }

  &--footer {
    display: block;
    max-width: 308px;
    margin-right: 65px;
    padding: 30px 0;

    @include small-tablet {
      margin: 0 auto;
    }

    @include mobile {
      padding: 24px 0;
    }

    &.form::after {
      display: none;
    }

    .form__input {
      padding: 10px;
      max-width: 181px;
      float: left;
    }

    .form__label {
      margin-bottom: 18px;
      color: $white;
      line-height: 1;
      display: block;
    }
  }
}

.form-open {
  transform: translateY(0);
  bottom: -75px;
}

.discounts-slider {
  &__item-inner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;

    @include tablet {
      height: 500px;
    }

    @include mobile {
      height: 320px;
    }
  }

  &__content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    width: 100%;
    padding: 24px;
  }

  &__title {
    font-family: $font-ruda;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 12px;
    max-width: 770px;

    @include line-clamp(60, 1.3, 3);

    @include tablet {
      font-size: 40px;
      @include line-clamp(40, 1.3, 3);
    }

    @include mobile {
      font-size: 20px;
      @include line-clamp(20, 1.3, 3);
    }
  }

  &__subtitle {
    display: block;
    color: $red-900;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.slick-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  z-index: 5;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $green-200;
  }

  &:focus {
    background-color: #F2F2F2;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }

  &:active {
    background-color: #F3F3F2;
    box-shadow: none;
  }
}

.slick-btn svg {
  width: 19px;
  height: 32px;
  display: block;
  margin: 0 auto;
  fill: $dark-500;
  transition: fill 0.3s;

  &:hover {
    fill: $green-900;
  }
}

.slick-prev {
  left: 60px;
}

.slick-list {
  height: inherit;
}

.slick-next {
  right: 60px;
}

.slick-dots {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: $white;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 6px;
  border: 1px solid $silver-600;

  @include tablet {
    width: 15px;
    height: 15px;
  }

  @include mobile {
    width: 10px;
    height: 10px;
  }
}

.slick-active button {
  background-color: $green-900;
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0 31px;

  &__list {
    display: flex;
    justify-content: center;

    @include mobile {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding-left: 74px;
    max-width: 264px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 0;
    }

    &--delivery::before {
      background-image: url('../images/icons/scooter.svg');
    }

    &--refund::before {
      background-image: url('../images/icons/refund.svg');
    }

    &--support::before {
      background-image: url('../images/icons/support.svg');
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &:first-child {
      @include tablet {
        margin-right: 65px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    @include mobile {
      max-width: fit-content;
    }
  }

  &__title {
    font-family: $font-opensans;
    font-weight: 600;
    color: $dark-900;
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__text {
    font-weight: 400;
    color: $dark-500;
    font-size: 14px;
  }

  @include mobile {
    padding: 30px 0;
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 24px;
  }

  &__btn {
    text-transform: uppercase;
    color: $dark-500;
    font-size: 15px;
    font-family: $font-opensans;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__item:first-child {
    @include mobile {
      margin-bottom: 15px;
    }
  }
}

.product-top {
  padding: 70px 0;

  &__btn {
    display: block;
    margin: 0 auto;
  }

  &__form {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
  }
}

.cart-product {
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border-color 0.3s;
  position: relative;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  height: 409px;

  @include mobile {
    height: 344px;

  }

  &--new::after,
  &--sale::before,
  &__sale,
  &--hit::before {
    position: absolute;
    left: 12px;
    top: 12px;
    color: $white;
    font-size: 10px;
    line-height: 1;
    display: inline;
    border-radius: 6px;
    padding: 3px 6px;
    text-transform: uppercase;
    width: fit-content;
  }

  &--new::after {
    content: 'Новинка';
    background-color: $green-900;
  }

  &--new {

    &.cart-product--hit::before,
    .cart-product__sale {
      top: 34px;
    }
  }

  &--sale {
    .cart-product__sale {
      display: block;
      background-color: $red-900;
    }
  }

  &--hit::before {
    content: 'Хит';
    background-color: $orange-900;
  }

  &--stock {
    padding: 13px 12px 8px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    height: 124px;

    .cart-product__img {
      margin-bottom: 0;
      margin-right: 12px;
      height: 100px;
    }

    .cart-product__now {
      font-size: 20px;
      line-height: 1;
      margin-right: 12px;
      order: -1;
    }
  }

  &--instock {
    .cart-product__inner::before {
      content: "В наличии";
      color: $green-900;
    }
  }

  &--outstock {
    .cart-product__inner::before {
      content: "Заканчивается";
      color: $red-900;
    }
  }

  &--notstock {
    .cart-product__inner::before {
      content: "Нет в наличии";
      color: $silver-600;
    }
  }

  &:hover {
    border-color: $green-900;

    @include mobile {
      .product-top__form {
        display: block;
      }
    }
  }

  &__sale {
    display: none;
  }

  &__favorite {
    position: absolute;
    width: 32px;
    height: 29px;
    top: 15px;
    right: 12px;
  }

  &__favorite svg {
    display: block;
    width: 32px;
    height: 29px;
    fill: $silver-600;
    transition: fill 0.3s;

    &:hover {
      fill: $yellow-900;
    }

    @include mobile {
      width: 24px;
      height: 22px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    &::before {
      position: absolute;
      bottom: 35px;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1;
    }
  }

  &__img {
    margin-bottom: 20px;
    height: 215px;
    object-fit: cover;

    @include mobile {
      height: 120px;
      margin-bottom: 15px;
    }
  }

  &__descr {
    padding: 0 18px 16px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    height: 66px;
    font-family: $font-opensans;
    font-weight: 600;
    color: $dark-900;
    line-height: 1.3;
    margin-bottom: 15px;

    @include line-clamp(14, 1.3, 3);

    @include mobile {
      margin-bottom: 48px;
    }
  }

  &__old {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    line-height: 100%;
    color: $silver-600;
    position: relative;
    margin-right: auto;

    &::before {
      border-bottom: 1px solid $silver-600;
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      transform: rotate(-10deg);
      bottom: 8px;
      left: 0;
    }

    &--visible {
      margin: 0;

      &::before {
        bottom: 6px;
      }
    }

    &--hidden {
      margin: 0;
      margin-top: auto;

      &::before {
        display: none;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__now {
    display: inline-block;
    margin-top: auto;
  }

  &__rate {
    position: relative;
    padding-right: 18px;
    font-weight: 700;

    &::before {
      position: absolute;
      right: 0;
      top: 1px;
      content: "";
      background-image: url('../images/icons/star.svg');
      width: 16px;
      height: 16px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.cart-product__now span {
  font-size: 14px;
}

.jq-number__field {
  width: 84px;
  height: 24px;
  border: none;
  border-radius: 3px;
  background-color: rgba(99, 166, 14, 0.1);
  box-shadow: none;
}

.jq-number__field input {
  text-align: center;
  font-family: $font-opensans;
  font-weight: 400;
  color: $dark-500;
  padding: 0;
  padding-top: 2px;
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0;
}

.jq-number__spin {
  top: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: $green-900;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  z-index: 999;
  font-size: 23px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: inset 0px 0px 0px 24px rgba(0, 0, 0, 0.15);
    background: $green-900;
  }
}

.jq-number__spin.minus::after,
.jq-number__spin.plus::after {
  content: '';
  width: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}


.jq-number__spin.minus {
  right: auto;
  border-radius: 3px 0px 0px 3px;

  &::after {
    background-image: url('../images/icons/minus.svg');
    height: 1px;
  }
}


.jq-number__spin.plus {
  left: auto;
  border-radius: 0px 3px 3px 0px;

  &::after {
    background-image: url('../images/icons/plus.svg');
    height: 16px;
  }
}

.banners-offer {
  padding-bottom: 72px;

  @include small-tablet {
    padding-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    column-gap: 30px;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 15px;
    }
  }

  &__item {
    position: relative;
    border-radius: 4px;
    height: 300px;
    padding: 76px 32px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &--large {
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
      color: $white;
    }

    &--large .banners-offer__title {
      max-width: 355px;
    }

    &--large .banners-offer__link::after {
      background-color: $white;
    }
  }

  &__subtitle {
    display: block;
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-family: $font-opensans;
    font-weight: 700;

    @include line-clamp(12, 1, 1);
  }

  &__title {
    display: block;
    font-size: 30px;
    font-family: $font-ruda;
    font-weight: 600;
    margin-bottom: 7px;
    max-width: 159px;
    @include line-clamp(30, 1.3, 2);

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__link {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 86px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: $font-opensans;
    font-weight: 700;
    line-height: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 167px;
      background-color: #505050;
      bottom: 76px;
      left: 32px;
    }
  }
}

.mixitup-control-active {
  border-color: rgba(99, 166, 14, 0.2);
}

.product-stock {
  background-color: #F5F5F5;
  padding: 72px 0;

  &__btn {
    display: block;
    margin: 0 auto;
  }
}

.partners {
  padding: 70px 0;

  &__item {
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    margin: 0 auto;
    max-width: 80px;
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.freshok-news {
  padding-bottom: 72px;

  @include mobile {
    padding-bottom: 48px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }
  }

  &__title {
    display: inline-block;
    font-family: $font-ruda;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    color: $dark-900;

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__all {
    color: $green-900;
    font-weight: 700;
    padding: 0 1px 6px;
    border-bottom: 2px solid $green-900;
    transition: color 0.3s, border-color 0.3s;
    text-transform: uppercase;

    &:hover {
      color: #4D800C;
      border-color: #4D800C;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 410px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: $dark-900;

    &:hover .cart-news__title {
      color: $green-900;
    }

    &:not(:last-child) {
      margin-right: 10px;

      @include small-tablet {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }
}

.cart-news {
  position: relative;

  &__data {
    position: absolute;
    background-color: $white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 700;
    font-size: 10px;
    width: 65px;
    height: 76px;
    padding-top: 18px;
    text-align: center;
    text-transform: uppercase;
    left: 20px;
  }

  &__data-span {
    font-family: $font-ruda;
    font-weight: 600;
    font-size: 30px;
    display: block;
  }

  &__img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;
  }

  &__title {
    padding: 15px 18px 18px;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
    line-height: 1.5;

    @include mobile {
      font-size: 14px;
    }
  }
}

.menu-nav {
  padding: 30px 0;
  position: relative;

  @include mobile {
    padding: 24px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px 76px;
    grid-auto-flow: column;
    color: $white;

    @include mobile {
      padding-bottom: 24px;
      grid-template-columns: 135px 65px;
      grid-template-rows: repeat(4, 1fr);
      gap: 18px 50px;
      justify-content: center;
    }
  }

  &::after {
    @include mobile {
      position: absolute;
      content: '';
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      bottom: 0;
      left: -15px;
      right: -15px;
    }
  }

  &--header {
    padding-bottom: 0;

    .menu-nav__list {
      color: $dark-800;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      padding-left: 15px;
    }

    &::after {
      background-color: rgba(193, 193, 193, 0.3);
      left: -15px;
      right: 0;
      top: 0;
      bottom: auto;
    }
  }
}

.box-contact {
  padding: 30px 0;
  position: relative;

  @include mobile {
    padding: 24px 0;
    text-align: center;
  }

  &::after {
    @include mobile {
      position: absolute;
      content: '';
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      bottom: 0;
      left: -15px;
      right: -15px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: $white;
    font-style: normal;
    margin-bottom: 18px;
  }

  &__phone {
    transition: opacity 0.3s;
    margin-bottom: 18px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &--header {
    text-align: left;

    .box-contact__info {
      color: $dark-800;
      font-size: 18px;
    }

    .box-contact__phone {
      position: relative;
      padding-left: 54px;

      &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icons/phone-mobile.svg');
        width: 24px;
        height: 24px;
        left: 15px;
      }
    }

    .box-contact__address {
      position: relative;
      padding-left: 54px;

      &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icons/map.svg');
        width: 24px;
        height: 33px;
        left: 15px;
      }
    }

    .box-contact__list {
      justify-content: flex-start;
      padding-left: 15px;
    }

    &::after {
      background-color: rgba(193, 193, 193, 0.3);
      left: -15px;
      right: 0;
      top: 0;
      bottom: auto;
    }
  }
}

.footer .logo__img {
  margin: 0 auto;
}

.footer {
  background-color: $dark-800;
  padding-top: 30px;
  margin-top: auto;
  letter-spacing: 0;

  &__logo {
    margin-bottom: 26px;
    display: inline-block;

    @include small-tablet {
      margin-bottom: 24px;
      display: block;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__copy {
    color: $white;
    text-transform: uppercase;
  }

  &__payments {
    display: flex;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__payment {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 93px;
    height: 29px;
  }

  &__payment:last-child {
    width: 49px;
  }

  &__payment:not(:last-child) {
    margin-right: 24px;
  }
}